<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<div class="container text-center">
  <h1 style="background-color:#eee;margin-left: 25%;margin-top: 5rem;margin-bottom: 2rem;padding: 1rem;width: 50%;align-items:center;text-align: center;justify-content: center;">Password Generator</h1>

  <form action="{% url 'password' %}" style="margin:0.5rem">
    <select name="length">
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10" selected="selected">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
      <option value="13">13</option>
      <option value="14">14</option>
    </select> Length
    <br>
    <input type="checkbox" name="uppercase" style="margin:0.5rem"> UPPERCASE
    <br>
    <input type="checkbox" name="numbers" style="margin:0.5rem"> NUMBERS
    <br>
    <input type="checkbox" name="special" style="margin:0.5rem"> SPECIAL CHARACTER
    <br>

    <input type="submit" value="Generate Password" class="btn btn-success" >
  </form>
</div>
