<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<div class="container text-center">
  <h1 style="background-color: darkkhaki;margin-left: 25%;margin-top: 5rem;margin-bottom: 2rem;padding: 1rem;width: 50%;align-items:center;text-align: center;justify-content: center;">Your password</h1>
  <h2 class="alert alert-info" style="margin-left: 15%;padding: 1rem;width: 70%;align-items:center;text-align: center;justify-content: center;">{{ password }}</h2>
  <a href="{% url 'home' %}" class="btn btn-primary" style="border-radius: 5px;">Home</a>
</div>
